In [14]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
)
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [15]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('hospital',)
('information_schema',)
('items',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('retail',)
('salesman',)
('test',)

In [31]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)
mycursor = mydb.cursor()

mycursor.execute("DROP TABLE customers")

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255),address VARCHAR(255))")

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [("Jerusha","Pathanamthitta"),("John","Idukki"),("Jerin","Kochi")]

mycursor.executemany(sql, val)

mydb.commit()

('customers',)
3 records was inserted.
1 record inserted, ID: 1
(1, 'Jerusha', 'Pathanamthitta')
(2, 'John', 'Idukki')
(3, 'Jerin', 'Kochi')

In [32]:
print(mycursor.rowcount, "records was inserted.")
print("1 record inserted, ID:", mycursor.lastrowid)
mycursor.execute("SELECT * FROM customers")
myvalues = mycursor.fetchall()

for x in myvalues:
    print(x)

3 records was inserted.
1 record inserted, ID: 0
(1, 'Jerusha', 'Pathanamthitta')
(2, 'John', 'Idukki')
(3, 'Jerin', 'Kochi')

In [33]:
sql = "UPDATE customers SET address = 'Pathanamthitta' WHERE address = 'Kochi'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [34]:
sql = "DELETE FROM customers WHERE address = 'Idukki'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted